.header1 {
    background-color: green;
    color: black;
    width: 200px;
    height: 85px;
}

.span1 {
    background-color: green;
    color: black;
    width: 200px;
    height: 85px;

}

.pop1 {
    background-color: green;
    color: black;
    width: 200px;
    height: 85px;
}   

.span2 {
    background-color: green;
    color: black;
    width: 200px;
    color: 85px;
}

img {
    width: 150px;
    height: 150px;
}